<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.java.test.smartstorage.mapper.importable.CompanyMapper">

    <select id="checkIndexingProcessExistence" resultType="boolean">
        SELECT EXISTS (
            SELECT 1
            FROM pg_locks
                     INNER JOIN pg_class
                                ON pg_locks.relation = pg_class.oid
            WHERE pg_class.relname = 'company'
              AND pg_locks.mode = 'ShareLock'
        )
    </select>

<!--    <delete id="removeDuplicates">-->
<!--        DELETE-->
<!--        FROM company-->
<!--        WHERE process_id NOT IN-->
<!--              (SELECT MIN(process_id) FROM company GROUP BY corporate_number, update_date); </delete>-->

    <delete id="removeDuplicates">
        DELETE
        FROM company
            USING (SELECT MIN(process_id) as keep_process_id, corporate_number, update_date
                   FROM company
                   GROUP BY corporate_number, update_date) reference
        WHERE company.corporate_number = reference.corporate_number
          AND company.update_date = reference.update_date
          AND company.process_id != reference.keep_process_id
    </delete>

    <delete id="dropIndex">
        DROP INDEX IF EXISTS company_index;
    </delete>

    <insert id="createIndex">
        CREATE INDEX IF NOT EXISTS company_index ON company (corporate_number, update_date);
    </insert>

    <select id="getPage" resultMap="companyResultMap">
        SELECT *
        FROM company
        ORDER BY process_id DESC
        LIMIT #{size} OFFSET #{size} * (#{page} - 1)
    </select>

    <select id="getTotalEntries">
        SELECT COUNT(*)
        FROM company
    </select>

    <delete id="deleteAll">
        TRUNCATE company;
    </delete>

    <resultMap id="companyResultMap" type="Company">
        <id property="processId" column="process_id"/>
        <id property="corporateNumber" column="corporate_number"/>
        <result property="representativePosition" column="representative_position"/>
        <result property="representativeName" column="representative_name"/>
        <result property="postalCode" column="postal_code"/>
        <result property="location" column="location"/>
        <result property="name" column="name"/>
        <result property="kana" column="kana"/>
        <result property="status" column="status"/>
        <result property="qualificationGrade" column="qualification_grade"/>
        <result property="updateDate" column="update_date"/>
        <result property="dateOfEstablishment" column="date_of_establishment"/>
    </resultMap>
</mapper>